/* =============
    Demo
============= */
#dash-container{
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-areas: ". grease .";

    >div{
        grid-area: grease;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        svg{
            width: 100%;
            #clock{
                visibility: hidden;
            }
            #speedometer{
                visibility: hidden;
            }
            #rpm{
                visibility: hidden;
            }
            #volts{
                visibility: hidden;
            }
            #fuel-gauge{
                visibility: hidden;
            }
            #grease-logo{
                visibility: hidden;
            }
            #buttons{
                visibility: hidden;
            }
            #song{
                visibility: hidden;
            }
        }
    }
}