/* =============
    Demo
============= */
#dash-container{
    display: grid;
    grid-template-columns: auto 70% auto;
    grid-template-areas: ". grease .";
    background-color: black;

    >div{
        grid-area: grease;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        svg{
            width: 100%;
            #clock{
                visibility: hidden;
            }
            #speedometer{
                visibility: hidden;
            }
            #rpm{
                visibility: hidden;
            }
            #volts{
                visibility: hidden;
            }
            #fuel-gauge{
                visibility: hidden;
            }
            #grease-logo{
                visibility: hidden;
            }
            #buttons{
                visibility: hidden;
            }
            #song{
                visibility: hidden;
            }
            #ford-logo{
                visibility: hidden;
            }
            #logo-reveal-svg{
                z-index: 5;
                visibility: hidden;
            }
            #speed-middle{
                position: fixed;
            }
            #volt-fill{
                visibility: hidden;
                z-index: -5;
            }
            #time-start{
                font-family: rift-soft, sans-serif;
                font-weight: 500;
                font-style: normal;
            }
            #time-end{
                font-family: rift-soft, sans-serif;
                font-weight: 500;
                font-style: normal;
            }
            #time-1{
                font-family: rift-soft, sans-serif;
                font-weight: 500;
                font-style: normal;
            }
            #time-2{
                font-family: rift-soft, sans-serif;
                font-weight: 500;
                font-style: normal;
            }
            #light{
                visibility: hidden;
            }
        }
    }
}